
body{
    margin: auto;
    width: 90%;
}

    /*header*/
#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;}
#logo{
    width: 50,48px;
    height: 46,29px;
    margin-top: 42px;}
#title{
    font-family: 'DM Sans', sans-serif;
    color: #D04F4F;
    margin: 0;}

    /*barre de recherche*/
#sectionsearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 69px;
    background: #E7E7E7;
    border-radius: 5px;
    margin-top: 17px;}

#searchbar__text{
    width: 90%;
    margin-left: 22px;
    background: transparent;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    opacity: 0.25; 
    outline: none;
    border: none;
}
.fa-search{
    font-size: 32.06px;
    margin-right: 16.44px;

}
#searchbar__text::placeholder{
    color: rgb(44, 44, 44); 
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

        /*Barre de Filtre*/


#resultfilterbox{
    display: flex;
    padding: 0;}

.result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    max-width: 170px;
    max-height: 69px;
    margin-right: 20px;
    border-radius: 5px;}



#filterbox {
    display: flex;
    padding: 0;}

.Filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: normal;
    width: 170px;
    height: 69px;
    margin-right: 20px;
    border-radius: 5px;}

.filter1{
    background-color:#3282F7;
    position: relative;
}

.filter2{
    background-color:#68D9A4;
    position: relative;
}

.filter3{
    background-color:#ED6454;
    position: relative;
}

.filter__text{
    width: 60%;
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 18px;
    background: transparent;
    outline: none;
    border: none;
    margin-left: 15px;
}

.TagFilter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: auto;
    height: 37px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 5px;
    color: white;
}

.TagFilter1{
    background-color:#3282F7;
    position: relative;
}

.TagText {
    width: 60%;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: none;
    margin: 0 15px;
}
    
::placeholder{
    color: white; 
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
}
.fa-chevron-down, .fa-times-circle{
    margin-right: 18px;
    color: white;

}

#chevronIngredient-up, #chevronAppliance-up, #chevronUstensil-up{
    position: absolute;
    right: 18px;
    color: white;
}


    /* Grille recette*/
#main_grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-gap: 50px;
    margin-top: 25px;
}
.cooking_recipe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto;}

.img_food, .ingredients, .step, .recipe_title {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: normal;
    display: flex;
}
.a {
    background-color: #C7BEBE;
    grid-column: 1 / 3;
    grid-row: 1;
    color: black;
    width: auto;
    height: 178px;

}
.b {
    background-color: #E7E7E7;
    grid-column: 1 ;
    grid-row: 3 ;
    color: black;
    width: auto;
    height: 138px;

}
.c {
    background-color: #E7E7E7;
    grid-column: 2;
    grid-row: 3;
    color: black;
    width: auto;
    height: 138px;

}
.d {
    background-color: #E7E7E7;
    grid-column: 1 / 3;
    grid-row: 2;
    color: black;
    width: auto;
    height: 40px;
}
.recipe_title {
    display: flex;
    justify-content: space-between;
}

.Card_name{
    margin: 0;
    padding: 0 0 0 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: normal;
}

.time_container{
    width: 30%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.card_time{
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;

}
.card_step {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    overflow:hidden;
    text-overflow: ellipsis;

}
.cardStepText {
    padding: 10px;
    margin: 0;
    width: auto;
    max-height: auto;
}

.card_ingredientList{
    margin: 0;
    padding: 0 0 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}


/* div ingredient Array */

#IngredientsArray{
    background-color:#3282F7;
    position: absolute;
    left: 0;
    top: 69px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 200px); ;
    grid-template-rows: auto;
}

#AppliancesArray{
    background-color:#68D9A4;
    position: absolute;
    left: 0;
    top: 69px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 200px); ;
    grid-template-rows: auto;
}

#UstensilsArray{
    background-color:#ED6454;
    position: absolute;
    left: 0;
    top: 69px;
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: auto;
}

.ArrayFilter{
    display: grid;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: auto;
}


.TextFilter{
    margin: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Lato', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: white;
}

.TextFilter_active{
    color: grey;
}

.hidden{
    visibility: hidden;
}

.activefilter{
    width: 600px;
    Border-radius : 5px 5px 0 0;
}